<!DOCTYPE html>

<html>
	<head>
		<title>Test</title>
	</head>

	<body>
		<h1>Test</h1>
		<ul>
		<% msg.forEach(function(ingredient) { %>
			<li><%= ingredient %></li>
		<% }); %>
		</ul>
	</body>
</html>